.container {
    width: 93%;
    margin: 0 auto;
}

@media(min-width: 480px) {
    .container {
        width: 90%;
    }
}

@media(min-width: 560px) {
    .container {
        width: 85%;
    }
}

@media(min-width: 720px) {
    .container {
        width: 80%;
    }
}

@media(min-width: 960px) {
    .container {
        width: 75%;
    }
}

@media(min-width: 1280px) {
    .container {
        width: 70%;
    }
}

@media(min-width: 1300px) {
    .container {
        width: 65%;
    }
}