.login-holder {
	padding: 0.5em;
	text-align: center;
	background: lavender;
}

h1 {
	color: dodgerblue;
}

/* Form */
input {
	display: block;
	width: 100%;
	font-size: 0.75em;
	padding: 0.5em;
	transition: 200ms ease-out;
	/*background: none;*/
}

input[type=text],[type=password] {
	outline: none;
	border: none;
	border-bottom: 1px solid dodgerblue;
	margin-top: 1em;
	color: dodgerblue;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

input[type=submit] {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border: none;
	border-radius: 0.25em;
	background: dodgerblue;
	color: white;
	cursor: pointer;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: dodgerblue;
	opacity: 1; /* Firefox */
	/*font-weight: 700;*/
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: dodgerblue;
	/*font-weight: 700;*/
}

input::-ms-input-placeholder { /* Microsoft Edge */
  	color: dodgerblue;
  	/*font-weight: 700;*/
}

input[type=text]:focus,
input[type=text]:hover,
input[type=password]:focus,
input[type=password]:hover {
	box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}
input[type=submit]:hover {
	box-shadow: 0 0 12px dodgerblue;
}

.options-link {
	margin-top: 1em;
	margin-bottom: 1em;
}

#link-A, #link-B {
	display: block;
	font-size: 0.85em;
	padding-top: 0.5em;
}

/*.clear-fix { clear: both; }*/

/* Breakpoints */

@media (min-width: 320px) {
	.login-holder {
		text-align: center;
		padding: 0 1em;
	}

	/* Form */
	input {
		font-size: 1em;
	}

	input[type=submit] {
		
	}

	.options-link {
		max-width: 80%;
		margin: 0 auto;
		padding: 1em 0;
	}

	#link-A, #link-B {
		display: inline-block;
		font-size: 0.85em;
	}

	#link-A {
		float: left;
	}

	#link-B {
		float: right;
	}
}

@media (min-width: 560px) {
	.main-content {
		background: gray;
		/*background: linear-gradient(to bottom right, #5f2c82, #0ABFBC);*/
		background: linear-gradient(to bottom right, #283048, #0ABFBC);
		padding-top: 3em; 
		padding-bottom: 3em;
	}
	.login-holder {
		max-width: 80%;
		margin: auto;
		/*background: rgba(255,255,255, 0.55);*/
		box-shadow: 0.15rem 0.35rem 10px #333;
	}
}

@media (min-width: 700px) {
	.main-content {
		padding-top: 4em; 
		padding-bottom: 4em;
	}
	.login-holder {
		max-width: 65%;
	}
}

@media (min-width: 920px) {
	.main-content {
		padding-top: 5em; 
		padding-bottom: 5em;
	}
	.login-holder {
		max-width: 40%;
	}
}
