html
{
	margin: 0;
}

body
{
	background-color: lightBlue;
	margin: 0;
}

.content
{
	background-color: white;/*#222;*/
	color: #222;
	margin: 0;
	padding-top: 12px;
}

h1
{
	text-align: center;
	color: lightBlue;
}

fieldset
{
	width: 360px;
	margin: 0 auto;
}

p
{
	margin: 12px 0 0 0;
}

input
{
	margin: 12px 0 0 0;
}

input[type=text],
input[type=password]
{
	width: 100%;
}

input[type=submit]
{
	background-color: lightBlue;
	color: #555;
	padding: 8px 38px;
	border-radius: 16px;
	border-style: solid;
	border-width: 0px;
}
input[type=submit]:hover
{
	background-color: dodgerblue;
	color: #EEE;
	cursor: pointer;
}

footer
{
	background-color: lightBlue;
	padding: 1rem;
	margin-top: 60px;
	height: 160px;
}

.buttonHolder
{
	text-align: center;
	margin: 12px auto;
}

.optionsHolder
{
	text-align: center;
}

.optionsHolder p
{
	display: inline-block;
	margin: 12px 18px;
}

.iconCredits
{
	font-size: 80%;
	text-align: center;
}


