/* Reset */
html, body, div, span, h1, h3, p, a, img, fieldset, form, label, legend, tr, th, td, header, footer, nav, ul, li {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: url("img/mosaic.png");
}

a {
    text-decoration: none;
}

h1 {
    padding: .5em 0;
}

h3 {
    padding: .25em 0;

}

#sec-1, #sec-2, #sec-3 {
    margin: 0;
    padding: .5em 0;
}

p {
    padding-top: .5em;
    padding-bottom: .5em;
}

/* Header */

.header {
    background: #1d211d;
    padding: 1em 1.5em;
    font-size: 20px;
    font-weight: bold;
}

header ul {
    list-style: none;
}

.top-nav {
    padding-top: .5em;
    float: left;
}

.top-nav a {
    color: white;
}

.top-nav a:hover {
    color: cyan;
}

.dark-theme {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
}

.dark-theme img {
    content: url("img/sun-light.svg");
}

/* Main Content */

.page-content {
    /*width: 768px;*/
    /*margin: auto;*/
    padding: .5em 1.65em 1em 1.65em;
    background: #151515;
    color: #e4e4e4;
}
.page-content p {
    font-size: 1.1em;
    text-indent: 2.5em;
    text-align: justify;
}

.page-index {
    padding-left: 3em;
}

.page-index li {
    margin: .5em 0;
}

.page-index li a {
    color: white;
    font-size: 1.15em;
}

.page-index li a:hover {
    color: cyan;
}

/* Form */

form {
    margin-top: 1em;
    padding-bottom: 1em;
}

fieldset {
    padding: 1em;
}

legend {
    font-weight: bold;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    text-align: center;
    margin: 1em;
}
input[type=text] {
    font-size: 1em;
    padding: .15em;
    border: 1px solid rgba(0, 0, 0, .5);
}
input[type=submit] {
    font-size: 1em;
    padding: .65em 1em;
    margin: 1em;
    border: none;
    border-radius: 2em;
    background: dodgerBlue;
    color: white;
}

input[type=submit]:hover {
    background: blue;
    cursor: pointer;
}
.msg {
    text-align: center;
    font-weight: 700;
}

.error-msg {
    color: coral;
}

.success-msg {
    color: #4caf50;
}

/* Footer */

.footer {
    text-align: center;
    padding: 2em 1em;
    background: darkSlateGray;
    color: white;
    font-size: .9em;
}

.credits a {
    color: #00bcd4;
}

/* Enhancement for Bigger Screens */
@media (min-width: 960px) {
    .header-content {
        max-width: 90%;
        margin: auto;
    }
    .page-content {
        width: 90%;
        margin: auto;
    }
}

@media (min-width: 2000px) {
    .page-content {
        width: 1920px;
        margin: auto;
    }
}