body {
    background: url("img/pattern.png"); 
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* Header */

header {
    background: lightGray;
    padding: 1em 2em;
    font-size: 20px;
    font-weight: bold;
}

header ul {
    margin: 0;
    list-style: none;
}

header li a {
    color: black;
}

header li a:hover {
    color: blue;
}
.top-nav {
    float: left;
}
.dark-theme {
    float: right;
}
.dark-theme img {
    content: url("img/sun-dark.svg");
}
/* Main Content */

.page-content {
    width: 768px;
    margin: 0 auto;
    padding: 1em 3em;
    background: white;
}

.page-content h1 {
    margin-top: 0;
    padding: .5em 0 0 0;
}

.page-content p {
    text-indent: 2.5em;
    text-align: justify;
    font-size: 18px;
}

.page-content li {
    font-size: 18px;
}

.page-content li a {
    color: blue;
}

.page-content li a:hover {
    color: dodgerBlue;
}

/* Form */

form {
    text-align: center;
    padding: 0 0 1em 0;
}

fieldset {

    padding: 1em;
}

legend {
    font-weight: bold;
}

label {
    font-weight: bold;
    display: block;
    margin: 0 0 1em 0;
}
input[type=text] {
    font-size: 16px;
    padding: 2px 0px;
}
input[type=submit] {
    font-size: 14px;
    padding: 6px 16px;
    margin: 0 0 0 1em;
    border-radius: 2em;
    background: dodgerBlue;
    color: white;
}

input[type=submit]:hover {
    background: blue;
    cursor: pointer;
}

.error-msg {
    color: red;
}

.success-msg {
    color: darkgreen;
}

/* Footer */

footer {
    text-align: center;
    padding: .5em;
    background: darkSlateGray;
    color: white;
}

footer a {
    color: #00bcd4;
}