table {
    width: 100%;
    /*border-collapse: collapse;*/
    border-collapse: separate;
    /*border: 1px solid #ccc;*/
    background-color: lightgray;
}

tr {
    /*border-bottom: 1px solid #aaa;*/
}
tr:last-child { border-bottom: none; }

td {
    padding: 1rem;
    vertical-align: top;
    background-color: whitesmoke;
}

.title {
    font-weight: bold;
}

.user {
    text-decoration: underline;
}

.category {
    display: block;
    padding: 0.25rem 0.5rem;
    background-color: blue;
    background-image: linear-gradient(to right, #3f51b5, #2196f3);
    color: white;
}

.status-icon {
    vertical-align: middle;
}

.board {}