body {
    background-color: cadetblue;
}

.title-bar {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
}

.title {
    font-weight: bold;
}

.content {
    margin-top: 0.5rem;
}

.caption {
    font-size: 0.85rem;
    /*font-weight: normal;*/
}

.icon {
    color: #444;
}

.description {
    margin-top: 0.35rem;
    margin-bottom: 0.15rem;
}


.main-options {
    margin: 0.5rem 0 1rem 0;
    padding: 0.5rem 1rem;
    border: 4px ridge;
    background-color: ghostwhite;
}

.user {
    text-decoration: underline;
}

.category-wrapper {
    border: 4px ridge;
    background-color: white;
    /*background-color: lightgray;*/
}
.category-wrapper > * {
    border-top: 4px ridge;
}
.category-wrapper > *:first-child { border-top: none; }
.category-wrapper th {
    background-color: lightgray;
}
.category-wrapper tr:first-child {
    border-top: 4px ridge;
}

.category {
    display: block;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    background-color: blue;
    background-image: linear-gradient(to right, #3f51b5, #2196f3);
    color: white;
}

.status-icon {
    vertical-align: middle;
}

.board {}