.text-align-center {
    text-align: center;
}


.alert {
    margin: 0.5rem 0 1rem 0;
    padding: 1rem;
    border-radius: 0.25rem;
}

.alert-danger {
    border: 1px solid #ef9a9a;
    background: #ffebee;
    color: #b71c1c;
}