.form-wrapper {
    width: 95%;
    margin: 0 auto;
}

@media only screen and (min-width : 320px) {
    .form-wrapper {
        width: 90%;
    }
}

@media only screen and (min-width : 480px) {
    .form-wrapper {
        width: 70%;
    }
}

@media only screen and (min-width : 768px) {
    .form-wrapper {
        width: 60%;
    }
}

@media only screen and (min-width : 992px) {
    .form-wrapper {
        width: 55%;
    }
}

@media only screen and (min-width : 1200px) {
    .form-wrapper {
        width: 50%;
    }
}

form {
    margin-top: 2rem;
}

input[type="submit"] {
    display: block;
    max-width: 260px;
    margin: 1.5rem auto;
}