label {
    display: block;
    font-size: 0.95rem;
    margin: 0 0.65rem;
    color: #333;
}

input {
    width: 100%;
    font-size: 0.9rem;
    margin: 0.5rem 0 1rem 0;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
    background-color: #fbfbfb;
    outline: none;
    transition: box-shadow 0.5s;
}

input:focus, input:active {
    box-shadow: 0px 0px 0.5rem #bcb;
    transition: 0.25s;
}

input[type="checkbox"] {
    width: auto;
    margin-left: 0.65rem;
    margin-bottom: 0.5rem;
}

/* Custom Checkbox */
.cb-wrapper {
    display: block;
    max-width: 25rem;
    margin: 0 auto;
    position: relative;
    user-select: none;
}

.cb-wrapper input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.cb-wrapper .label {
    display: block;
    margin-top: -20px;
    margin-left: 25px;
}

.checkmark {
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid #ccc;
    background: #eee;
    transition: box-shadow 0.5s;
}

.checkmark::after {
    content: "";
    display: none;
    position: relative;
    top: 0;
    left: 4px;
    width: 4px;
    height: 8px;
    border: solid #333;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cb-wrapper input[type="checkbox"]:checked ~ .checkmark {
    /*border: none;*/
    /*background-color: #106bec;*/
}
.cb-wrapper input[type="checkbox"]:checked ~ .checkmark::after {
    display: block;
}

.cb-wrapper:hover .checkmark {
    box-shadow: 0px 0px 0.5rem #ddd;
    transition: 0.25s;
}

/* Input Wrapper */

.input-wrapper {
    display: flex;
    align-items: center;
}

.error-icon {
    display: none;
    font-size: 1.25rem;
    margin-top: -0.35rem;
    margin-left: -1.75rem;
    color: red;
    cursor: pointer;
}

.error, .error:focus, .error:active {
    border-color: transparent;
    box-shadow: 0px 0px 0.5rem #f44336;
}

.success, .success:focus, .success:active {
    border-color: transparent;
    box-shadow: 0px 0px 0.5rem green;
}

/* Submit Input */

input[type="submit"] {
    display: block;
    max-width: 300px;
    margin: 2rem auto;
    padding: 0.85rem 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: #106bec;
    color: #eef4f5;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2a3675;
    transition: 0.3s;
}

input[type="submit"].disabled {
    background-color: #5e8ae8;
    cursor: default;
}