.account-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    text-align: center;
}

.account-options a {
    margin-bottom: 1rem;
}

.account-options a:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width : 480px) {
    .form-wrapper {
        width: 70%;
    }
    .account-options {
        flex-direction: row;
        justify-content: space-between;
    }
    .account-options a { margin-bottom: 0; }
}

@media only screen and (min-width : 768px) {
    .form-wrapper {
        width: 60%;
    }
}

@media only screen and (min-width : 992px) {
    .form-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width : 1200px) {
    .form-wrapper {
        width: 45%;
    }
}