.account-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    text-align: center;
}

.account-options a {
    margin-bottom: 1rem;
}

.account-options a:last-child {
    margin-bottom: 0;
}