/* FORM */

.sign-up-wrapper {
    width: 90%;
    margin: 0 auto;
}

/* Required Field */
.rf::after {
    content: "*";
    margin-left: 0.4rem;
    color: red;
}

@media(min-width: 1024px) {
    .sign-up-wrapper {
        width: 40%;
    }
}