/*body {
    background-color: #222;
    color: whitesmoke;
}

a {
    color: cyan;
}

form label {
    color: whitesmoke;
}

form input {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}*/
/* END OF DARK THEME */

.sign-up-wrapper {
    width: 90%;
    margin: 0 auto;
}

form {
    margin-top: 2rem;
}

/* Required Field */
.rf::after {
    content: "*";
    margin-left: 0.4rem;
    color: red;
}

@media(min-width: 1024px) {
    .sign-up-wrapper {
        width: 40%;
    }
}