/* Reset */
html, body, div, header, main, footer,
form, fieldset, legend, label, input,
ul, li, p, a, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	font-size: 18px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h1 {
	padding-top: 1em;
	padding-bottom: 0.75em;
}

h2 {
	padding-top: 0.75em;
	padding-bottom: 0.5em;
}

h3 {
	padding-top: 0.5em;
	padding-bottom: 0.35em;
}

h4 {
	padding-top: 0.35em;
	padding-bottom: 0.15em;
}

h5 {
	padding-top: 0.15em;
	padding-bottom: 0.05em;
}
/* End of Reset */
