.advanced-search { display: none; padding: 1em; }
.advanced-search h3 { text-align: center; }
.newest-announcements { padding: 1em; background: white; }

.announcement-thumb { max-width: 80px; }
.announcement-title { font-size: 1.2em; font-weight: 700; margin: 1em 0.5em;}
.announcement-category { margin: 0.5em 0.5em;}

@media (min-width: 540px) {
	.index-wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr;
	    grid-template-rows: auto;
	}
	.advanced-search {
		display: block;
		margin: 1em;
		margin-right: 0;
	}
	.newest-announcements {
		margin: 1em;
		margin-right: 0;
		padding: 1em;
	}
}

@media (min-width: 720px) {
	.index-wrapper {
		display: grid;
		grid-template-columns: 1fr 3fr;
	    grid-template-rows: auto;
	}
}