



.nav-bar {
	background: lightgreen;
}

.menu-list {
	list-style: none;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

.menu-list li {
	display: inline-block;
	margin: 0;
	padding: 0.5em 1em;
}

.menu-list li:hover {
	background-color: green;
}