.container {
	max-width: 90%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	display: inline-block;
	margin: 0.5em 0;
	padding: 0.5em;
	border: 1px solid lightgray;
	background-color: white;
	cursor: pointer;
	transition: box-shadow 0.2s linear;
}
.btn:hover { box-shadow: 0 0 6px rgba(35, 173, 278, 1); }

.btn-danger { background-color: tomato; color: white; }
.btn-danger:hover { background-color: red; box-shadow: none; }

.round-btn {
	border: none;
	border-radius: 100%;
}
.round-btn:hover {
	box-shadow: none;
}

.card-style {
	box-shadow: 0 3px 7px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
}

.form-wrapper {
	max-width: 90%;
	margin: auto;
}
.form-wrapper h1 { text-align: center; }
.form-wrapper label { display: inline-block; margin: 0.5em 0 0.25em 0; font-weight: 600; }

.input-group {
	display: flex;
	margin: 0.5em 0;
	box-shadow: 0 0 1px gray;
	transition: box-shadow 0.2s linear;
}

.input-group.active  {
	box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.input-group span,
.input-group a,
.input-group input,
.input-group select { padding: 0.5em 1em; }

.input-group input,
.input-group select {
	width: 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: none;
	outline: none;
}

.error {
	display: block;
	margin: 0.75em 0 0.5em 0;
	font-size: 0.9em;
	color: red;
}

.error .fas {
	margin: 0 0.5em 0 0.25em;
}

.table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid lightgray;
}
.table thead {
	background-color: gainsboro;
	border-bottom: 3px solid lightgray;
}
.table th { padding: 0.5em 0; }
.table td { padding: 0.5em 0; text-align: center; }

.stripped-table tr:nth-child(even) {
	background-color: whitesmoke;
}

.gallery { display: flex; flex-direction: column; align-items: center; margin: 0.5em 0 0.75em 0; padding: 0.35em; border: 1px solid lightgray; border-radius: 3px; }
.gallery img { max-width: 100%; }

@media(min-width: 325px) {
	.container {
		max-width: 85%;
	}
}

@media(min-width: 480px) {
	.container {
		max-width: 80%;
	}

	.form-wrapper {
		max-width: 75%;
	}
}

@media(min-width: 720px) {
	.container {
		max-width: 75%;
	}
	.form-wrapper {
		max-width: 60%;
	}
}

@media(min-width: 920px) {
	.container {
		max-width: 75%;
	}
	.form-wrapper {
		max-width: 50%;
	}
}

@media(min-width: 1280px) {
	.container {
		max-width: 2000px;
		width: 75%;
	}
	.form-wrapper {
		max-width: 40%;
		width: 1280px;
	}
}