<section class="sign-up-wrapper">
    <h1>Criar Conta</h1>

    <form id="sign-up-form" method="post" onsubmit="return validation(true)" action="scripts/submit-sign-up.php">
        <label class="rf">Nome Completo</label>
        <div class="input-wrapper">
            <input type="text" name="name" oninput="validation()">
        </div>

        <div class="input-wrapper">
            <span class="info-icon" data-info="birthday" onmouseover="showInfoMessage.call(this)"><i class="fa fa-question-circle"></i></span>
            <label class="rf">Data de Aniversário</label>
        </div>
        <div class="input-wrapper">
            <select name="birthday">
                <option value="0">Dia</option>
            </select>
            <select name="birthmonth">
                <option value="0">Mês</option>
            </select>
            <select name="birthyear">
                <option value="0">Ano</option>
            </select>
        </div>

        <div class="input-wrapper">
            <span class="info-icon" data-info="username" onmouseover="showInfoMessage.call(this)"><i class="fa fa-info-circle"></i></span>
            <label class="rf">Nome de Usuário</label>
        </div>
        <div class="input-wrapper">
            <input type="text" name="username" oninput="validation()">
        </div>

        <label class="rf">E-mail</label>
        <div class="input-wrapper">
            <input type="text" name="email" oninput="validation()">
        </div>

        <div class="input-wrapper">
            <span class="info-icon" data-info="password" onmouseover="showInfoMessage.call(this)"><i class="fa fa-info-circle"></i></span>
            <label class="rf">Senha</label>
        </div>
        <div class="input-wrapper">
            <input type="password" name="pass" oninput="validation()">
        </div>

        <label class="rf">Repita a Senha</label>
        <div class="input-wrapper">
            <input type="password" name="pass2" oninput="validation()">
        </div>
        <!--<br>

         <label class="cb-wrapper">
            <input id="user-terms" type="checkbox" name="user-terms-cb">
            <span class="checkmark"></span>
            <span class="label">Declaro que li e aceito os <a href="#">Termos de Serviço</a> do Fórum.</span>
        </label> -->

        <p style="font-size: 0.9rem; padding: 0 4em; text-align: center;">
            Ao se cadastrar, você estará concordando com nossos <a href="#" title="Termos de Serviço">Termos de Serviço</a> e com nossa <a href="#" title="Política de Privacidade">Política de Privacidade</a>.
        </p>

        <input type="submit" name="save" value="Cadastrar">

        <script>
            function initBirthday() {
                let monthsList = ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"];
                let today = new Date();
                let days = document.forms[0].birthday;
                let months = document.forms[0].birthmonth;
                let years = document.forms[0].birthyear;

                let maxDays = new Date(today.getUTCMonth(), today.getUTCFullYear(), 0).getDate();
                for (let i = 1; i <= maxDays; i++) {
                    days.innerHTML += "<option value='" + i + "' " + (i == today.getDate() ? "selected" : "") + ">" + i + "</option>";
                }
                for (let i = 0; i < monthsList.length; i++) {
                    months.innerHTML += "<option value='" + i + "' " + (i == today.getUTCMonth() ? "selected" : "") + ">" + monthsList[i] + "</option>";
                }
                for (let i = today.getUTCFullYear(); i >= 1905; i--) {
                    years.innerHTML += "<option value='" + i + "' " + (i == today.getUTCFullYear() ? "selected" : "") + ">" + i + "</option>";
                }
            }

            function showInfoMessage() {
                if (! this) return;

                let icon = this;
                let parent = icon.parentNode;

                let type = icon.getAttribute("data-info");
                switch(type) {
                    case "birthday":
                        res = "<b>Data de Aniversário:</b><br>&#8226; Usamos essa informação para prover uma melhor experiência de usuário.<br>&#8226; Nós não compartilhamos essa informação com outros membros.";
                        break;
                    case "username":
                        res = "<b>Nome de Usuário:</b><br>&#8226; De 6 a 12 caracteres.<br>&#8226; Não inclua caracteres especiais.";
                        break;
                    case "password":
                        res = "<b>Senha:</b><br>&#8226; No mínimo 6 caracteres.";
                        break;
                    default:
                        res = "";
                }

                let msg = parent.getElementsByClassName("info-msg")[0];
                
                if (res == "0" || res == "1") {
                    if (typeof msg != typeof undefined) msg.remove();
                    return;
                }

                msg = (typeof msg != typeof undefined) ? msg : document.createElement("span");
                msg.setAttribute("class", "info-msg");
                msg.innerHTML = res;

                // CLONE
                let clone = document.createElement("span");
                clone.innerHTML = res;
                clone.style.position = "absolute";
                clone.style.visibility = "hidden";
                clone.style.opacity = "0";
                document.body.appendChild(clone);

                let msgWidth = clone.offsetWidth;
                let msgHeight = clone.offsetHeight;
                let msgMargin = 26;
                let msgLeft = icon.offsetLeft + icon.offsetWidth + msgMargin;
                let msgRight = icon.offsetLeft + icon.offsetWidth - msgMargin - msgWidth;
                let msgTop = icon.offsetTop - icon.offsetHeight - msgMargin/2 - msgHeight;
                let msgBottom = icon.offsetTop + icon.offsetHeight + msgMargin;

                document.body.removeChild(clone);

                msg.style.top = msgTop + "px";
                msg.style.left = icon.offsetLeft + "px";
                
                parent.appendChild(msg);
            }

            window.onload = function() {
                initBirthday();
                initInputs();
            }
            window.onresize = function() { validation(); }
        </script>
    </form>
</section>