.main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
	"banner"
	"content"
	"aside";
}

.banner {
	grid-area: banner;
}

.content {
	grid-area: content;
}

.sidebar {
	grid-area: aside;
}

@media(min-width: 480px) {
	.main { min-height: 480px; }
}

@media(min-width: 720px) {
	.main {
		grid-template-columns: 2fr 1fr;
		grid-template-areas:
		"banner banner"
		"content aside";
		grid-gap: 1em;
	}
}