.page-content {
	text-align: center;
}

label { font-size: 18px; font-weight: bold; }

input {
	border-radius: 6px;
	padding: 6px 4px;
	border: solid 1px #aaa;

}
input[type=submit] {
	background-color: dodgerblue;
	color: white;
	padding: 8px 38px;
	border-radius: 16px;
	border-style: solid;
	border-width: 0px;
}
input[type=submit]:hover {
	background-color: darkBlue;
	color: #ffffff;
	cursor: pointer;
}
select {
	border-radius: 6px;
	padding: 6px 4px;
	border: solid 1px #aaa;
	background: white;
}

/* Special Buttons */
#add-row {
	font-size: 18px;
	padding: 8px 20px;
	background-color: mediumSeaGreen;
}
#add-row:hover {
	background-color: seaGreen;
}

#delete-row {
	font-size: 18px;
	padding: 8px 22px;
	background-color: tomato;
}
#delete-row:hover {
	background-color: orangeRed;
}

/* Table Style */
table
{
	border-collapse: collapse;
	margin: 24px auto;
}

thead
{
	background-color: #1c6b8e;
	color: white;
	text-align: center;
}

th
{
	padding: 12px 6px;
	width: 200px;
}

tbody
{
	text-align: center;
}

.spRow
{
	background-color: aliceBlue;
}

td { 
	padding: 8px 2px;
	vertical-align: top;
}

.disabled {
	color: #999;
}