* {
	font-family: Segoe UI, Consolas, Verdana, sans-serif;
	box-sizing: border-box;
}

.menuNav {
	background-color: #2a5d84;
}

.menuNav ul {
	list-style-type: none; /* Removes the bullets */
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 0;
}

#menuList li {
	display: inline-block; /* Horizontal Alignment */
	font-size: 14px;
}

#menuList li a {
	display: block; /* Makes the whole link clickable */
	text-align: center;
	padding: 20px 32px;
	text-decoration: none;
	color: #ffffff;
	transition: .3s;
	transition-timing-function: ease-out;
}

#menuList li a:hover {
	background-color: #3f3f86;//#414175;
	color: white;
}
