.page-content {
	text-align: center;
}

label { font-size: 18px; font-weight: bold; }

input[type=submit] {
	background-color: dodgerblue;
	color: white;
	padding: 8px 38px;
	border-radius: 16px;
	border-style: solid;
	border-width: 0px;
}
input[type=submit]:hover {
	background-color: darkBlue;
	color: #ffffff;
	cursor: pointer;
}
/* Special Buttons */
#add-row {
	font-size: 18px;
	padding: 8px 20px;
	background-color: mediumSeaGreen;
}
#add-row:hover {
	background-color: seaGreen;
}

#delete-row {
	font-size: 12px;/* 18px; */
	padding: 5px 12px; /*8px 22px;*/
	background-color: tomato;
}
#delete-row:hover {
	background-color: orangeRed;
}

/* Table Style */

.table-holder {
    display: inline-block;
	display: inline-block;
	vertical-align: center;
}

table
{
	border-collapse: collapse;
	margin: 24px auto;
	table-layout: fixed;
    width: 1px; /* required for table-layout */

    display: inline-table;
}

thead
{
	background-color: #799b9e;
	color: white;
	text-align: center;
}

th
{
	padding: 1%;
	width: 200px;
}

tbody
{
	text-align: center;
}

.spRow
{
	background-color: #d3e9ea;
}

#tdName
{
	width: 220px;
}

/* Sidebar */

main {
	background: #321;
}

.sidebar {
	float: left;
    white-space: nowrap;
}
.sidebar li {
	list-style-type: none;
}
.sidebar li a {
	color: white;
}
.sidebar img {
	margin: .1em .5em 0 0;
}
.sidebar .list-section {
	font-weight: bold;
}

.page-content {
	float: right;
	width: 75%;
    overflow-x: auto;
    background: white;
    white-space: nowrap;

	border-left: dotted 1px;
}

.clear-fix-main { clear: both; }