.page-content {
	text-align: center;
}

label { font-size: 18px; font-weight: bold; }

.button {
	background-color: dodgerBlue;
	border-radius: 16px;
	padding: 8px 38px;
	color: white;
}
.button:hover {
	background-color: darkBlue;
}

input[type=submit] {
	border-style: solid;
	border-width: 0px;
}
input[type=submit]:hover {
	color: #ffffff;
	cursor: pointer;
}

/* Form as Unordered List */
.form-as-ul {
	display: grid;
}
.form-as-ul img {
	padding: 0 0 0 2.5em;
}

.button-as-li {
	background: none;
	text-align: left;
	margin: .5em 0 0 0;

	color: white;
}

.list-section {
	margin: 1em 1em;
	padding: 0 .5em;
	color: #00d8ff;
}

/* Special Buttons */
#create-table {
	background-color: mediumSeaGreen;
}

#create-table:hover {
	background-color: seaGreen;
}

#read-table {
	padding: 5px 12px; /*8px 22px;*/
	background-color: dodgerblue;
	margin: 0;
	
	border-radius: 8px;
}
#read-table:hover {
	background-color: blue;
}

#update-table {
	padding: 5px 12px; /*8px 22px;*/
	background-color: orange;
	margin: 0;
	
	border-radius: 8px;
}
#update-table:hover {
	background-color: darkOrange;
}

#delete-table {
	padding: 5px 12px; /*8px 22px;*/
	background-color: tomato;
	margin: 0;
	
	border-radius: 8px;
}
#delete-table:hover {
	background-color: red;
}

/* Table Style */

table
{
	border-collapse: collapse;
	margin: 12px auto;
}

thead
{
	background-color: #1c6b8e;
	color: white;
	text-align: center;
}

th
{
	width: 300px;
	padding: 12px 6px;
}

tbody
{
	text-align: center;
}

tr {
	border: solid 1px #ccc;
}

td {
	padding: 6px 0;
}

/* Sidebar */

main {
	background: #321;
}

.sidebar {
	float: left;
    white-space: nowrap;
}
.sidebar li {
	list-style-type: none;
}
.sidebar li a {
	color: white;
}
.sidebar img {
	margin: .1em .5em 0 0;
}
.sidebar .list-section {
	font-weight: bold;
}

.page-content {
	float: right;
	width: 75%;
    overflow-x: auto;
    background: white;
    white-space: nowrap;

	border-left: dotted 1px;
}

.clear-fix-main { clear: both; }