.page-content {
	text-align: center;
}

label { font-size: 18px; font-weight: bold; }

input[type=submit] {
	background-color: mediumSeaGreen;
	color: white;
	padding: 8px 38px;
	border-radius: 16px;
	border-style: solid;
	border-width: 0px;

	margin: 2em 0;
}
input[type=submit]:hover {
	background-color: seaGreen;
	color: #ffffff;
	cursor: pointer;
}
/* Special Buttons */
#update-table {
	padding: 5px 12px; /*8px 22px;*/
	background-color: dodgerblue;
	margin: 0;
	
	border-radius: 8px;
}
#update-table:hover {
	background-color: darkBlue;
}

#delete-table {
	padding: 5px 12px; /*8px 22px;*/
	background-color: tomato;
	margin: 0;
	
	border-radius: 8px;
}
#delete-table:hover {
	background-color: orangeRed;
}

/* Table Style */

table
{
	border-collapse: collapse;
	margin: 12px auto;
}

thead
{
	background-color: #799b9e;
	color: white;
	text-align: center;
}

th
{
	width: 300px;
}

tbody
{
	text-align: center;
}

.spRow
{
	background-color: #d3e9ea;
}

td {
	padding: 6px 0;
}

/* Sidebar */

main {
	background: #321;
}

.sidebar {
	float: left;
    white-space: nowrap;
}
.sidebar li {
	list-style-type: none;
}
.sidebar li a {
	color: white;
}
.sidebar img {
	margin: .1em .5em 0 0;
}
.sidebar .list-section {
	font-weight: bold;
}

.page-content {
	float: right;
	width: 75%;
    overflow-x: auto;
    background: white;
    white-space: nowrap;

	border-left: dotted 1px;
}

.clear-fix-main { clear: both; }