.dataHolder
{
	width: 80%;
	margin: auto;
}

table
{
	border-collapse: collapse;
	margin: 24px auto;
}

thead
{
	background-color: #799b9e;
	color: white;
	text-align: center;
}

th
{
	padding: 1%;
	width: 200px;
}

tbody
{
	text-align: center;
}

.spRow
{
	background-color: #d3e9ea;
}

#tdName
{
	width: 220px;
}

.optionsNav {
	position: relative;
	top: 0;
}

.optionsNav ul {
	margin: 0;
	list-style-type: none;
}

.content { height: 80%; }

.contentLeft {
	width: 20%;
	height: 100%;
	float: left;
	padding: 16px;
	overflow: hidden;
	background: #c2d2e2;
}

.contentLeft
.optionsList { padding: 0; }

.contentLeft
.optionsList ul { padding: 8px; }

.contentLeft
.optionsList ul li { padding: 0px; }

.contentLeft li { padding-top: 8px; }

.contentLeft a { color: #2a5d84; text-decoration: none; line-height: 26px; }
.contentLeft a:hover { color: blue; }
.contentLeft a img { vertical-align: center; margin-right: 6px; }

#listTable a:hover { color: dodgerBlue; }
#createTable a:hover { color: green; }
#deleteTable a:hover { color: orangeRed; }
#updateTable a:hover { color: darkOrange; }

.contentRight {
	width: 80%;
	margin: auto;
	padding: 24px;
	text-align: center;
}

.clearFix {
	clear: both;
}

/* Footer */
footer { background-color: #555; color: #CCC; width: 100%; height: 15%; padding: 12px; }
footer a { color: #EEE; text-decoration: none; }
footer .icons { text-align: center; }
footer .copyright { text-align: center; }