fieldset {
	width: 480px;
	margin: 0 auto;
}

input {
	margin: 0px 0 0 0;
}

input[type=text],
input[type=password] {
	width: 100%;
}

input[type=submit] {
	background-color: dodgerblue;
	color: white;
	padding: 8px 38px;
	border-radius: 16px;
	border-style: solid;
	border-width: 0px;
	transition: .2s;
}
input[type=submit]:hover {
	background-color: darkBlue;
	color: #ffffff;
	cursor: pointer;
}

.buttonHolder {
	text-align: center;
	margin: 12px auto;
}

.options-holder {
	text-align: center;
}

.options-holder p {
	display: inline-block;
	margin: 12px 18px;
}

