* {
	font-family: sans-serif;
}

body {
	background: #1c4f65;
	margin: 0;
}

body a {
	text-decoration: none;
}

.header-container {
	margin: 0 auto;
	max-width: 95%;
}
.header-container a { color: #00d8ff; font-weight: bold; }

/* Header */

header {
	padding-top: 48px;
	/* background: gray; */
}

.app-name a {
	float: left;
	color: white;
	font-size: 24px;
	font-weight: 700;
	text-shadow: 2px 2px 0 #000;
	text-transform: uppercase;
}

nav {
	float: right;
	margin-top: 4px;
	text-align: center;
}

nav ul { padding: 0; margin: 0; }

nav li {
	display: inline-block;
	margin: 0 0 0 1em;
}

nav li a {
	text-transform: uppercase;
}

nav li a:hover {
	color: white;
	transition: .15s;
}

/* Clear Fix */

.clear-fix { clear: both; padding-bottom: 48px; }

/* Main */

main {
	background: white;
	clear: both;
	/* height: 460px; */
}

main a { color: dodgerBlue; }
main a:hover { color: darkblue; }

.page-content {
	padding: 2em;
	min-height: 440px;
}

.page-content h1 { margin: 0; text-align: center; }

/* Footer */

footer {
	color: white;
	text-align: center;
	padding-top: 12px;
}

footer ul { padding: 0; }

footer li {
	display: inline-block;
	margin: 0 0 0 1em;
}
footer a { color: #00d8ff; }
footer a:hover {
	color: white;
	transition: .15s;
}

/* Error */
.error {
	color: orangeRed;
}

/* Buttons */
.button {
	background-color: dodgerBlue;
	color: white;
	border-radius: 8px;
	padding: 6px 12px;
}
.button:hover {
	background-color: darkBlue;
}

/* Special Buttons */
.round-button {
	background-color: dodgerBlue;
	color: white;
	border-radius: 16px;
	padding: 8px 32px;
}
.round-button:hover {
	background-color: darkBlue;
}

#create {
	background-color: mediumSeaGreen;
}

#create:hover {
	background-color: seaGreen;
}

#read {
	background-color: dodgerblue;
}
#read:hover {
	background-color: blue;
}

#update {
	background-color: orange;
}
#update:hover {
	background-color: darkOrange;
}

#delete {
	background-color: tomato;
}
#delete:hover {
	background-color: crimson;
}
