hr { margin: 2em 1em 1em 1em; }

a { color: blue; }
a:hover { text-decoration: underline; }
img { display: block; margin-top: 2em; max-width: 20%; margin-left: auto; margin-right: auto; }
#show-pass-btn { color: black; }

.auth-btn {
	margin-top: 1em;
}

.login-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1em;
}