.container {
	max-width: 60%;
	margin: auto;
}

.input-group {
	display: flex;
	align-items: center;
	border: 1px solid gray;
	margin: 0.5em 0;
	transition: 0.2s;
}

.input-group.active  {
	box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.input-group input {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	border: none;
	outline: none;
}

.item {
	padding: 1em;
}

.error {
	color: red;
}