header {
	padding: 0.5em 1em;
	background-color: black;
}

header ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/*justify-content: center;*/
}

header li { margin: 0.5em 1em; }
header li a { font-weight: 600; color: whitesmoke; }