header {
	padding: 1em;
	background-color: black;
}

header ul {
	list-style: none;
	display: flex;
}

header li { margin-left: 1em; margin-right: 1em; }
header li a { font-weight: 600; color: whitesmoke; }