header {
	padding: 0.5em 0;
	background-color: black;
}
header .active { padding-bottom: 0.15em; border-bottom: 1px solid whitesmoke; }

header ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/*justify-content: center;*/
}

header li { margin: 0.5em 1em 0.5em 0; }
header li a { font-weight: 600; color: whitesmoke; }