h1, form, fieldset, label, input {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: sans-serif;
	background: linear-gradient(to bottom, #134E5E, #71B280, #134E5E);
}

h1 {
	text-align: center;
	font-size: 1.5em;
	padding: 1em 0;
}

fieldset {
	border: none;
}

legend {
	display: none;
	font-size: 0.85em;
}

form {
	width: 100%;
	margin: auto;
	font-size: 1.15em;
}

input {
	margin: 0.25em 0;
	border: 1px solid #ccc;
	border-radius: 0.15em;
	padding: 0.25em 0.5em;

	text-align: center;
}

input[type=password] {
	width: 100%;
	font-size: 3rem;
}

#response-from-server {
	margin-top: 1em;
	text-align: center;
}

.weak {
	color: red;
}

.strong {
	color: green;
}

footer {
	margin-top: 10em;
	padding: 0.25em 1em;
	font-size: .75em;
	text-align: center;
}

@media (min-width: 480px) {
	body {
		max-width: 480px;
		margin: auto;
	}
}