.header {
	padding: 1em;
	box-shadow: 0 3px 7px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
}
.header a {
	color: lightgray;
	text-decoration: none;
}
.header a:hover {
	color: white;
}

.logo {
	font-size: 2em;
	font-weight: 700;
	text-align: center;
}

.menu-list {
	padding-top: 1em;
	text-align: center;
}

.menu-list li {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	font-weight: 700;
}

.menu-list a {
	font-size: 1.2em;
}

/* SEARCH BAR */

.search-bar {
	display: grid;
	grid-template-columns: 5fr 1fr 1fr;
	grid-template-rows: auto;
	margin-top: 1em; 
	background: white;
	border-radius: 0.25em;
}
.search-bar input {
	display: inline-block;
	width: 100%;
	margin: 0;
	font-size: 1.1em;
	background: none;
	border: none;
}

.search-bar .btn {
	width: 100%;
	margin: 0;
	text-align: center;
	border: none;
	border-left: 1px solid #ccc;
	border-radius: 0;
	background: none; 
	color: darkslategray; 
}

.search-bar .btn:hover { background: none; color: darkslategray; }

@media (min-width: 540px) {
	.logo { margin-left: 1em; margin-right: 1em; }

	.menu-list { grid-column: 1/-1; margin-top: 0; margin-bottom: 0; }

	.search-bar {
		grid-template-columns: 6fr 1fr;
		/*margin: 1em;*/
	}

	.btn-advanced-search {
		display: none;
	}
}

@media (min-width: 720px) {
	.clear-fix { clear: both; }

	.header {
		display: grid;
		grid-template-columns: 1fr 1fr 0.5fr;
		grid-template-areas:
		"logo search gap"
		"nav nav nav";
		/*grid-template-columns: 1fr 2fr 0.5fr;*/
	    grid-template-rows: auto;		
	}

	.logo { grid-area: logo; margin: 1em; }

	.search-bar {
		grid-area: search;
		width: 100%;
		height: max-content;
		margin: auto;
		grid-template-columns: 8fr 1fr;
	}

	.nav-bar {
		grid-area: nav;
	}

	.menu-list {
		padding-top: 0;
	}

	.menu-list li { display: inline-block; margin-left: 1em; margin-right: 1em; }
}